body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
 padding: 0;
    margin: 0;
}
.navi {
    background-color: midnightblue;

    width: 99vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: azure;
    border: 5px groove black;
    opacity: 0.4;
    transition: all 0.3s ease-in;
}

.navi:hover {
    opacity: 1;
}


.navi a:link {
    color: azure;
    text-decoration: none;
}

.navi a:visited {
    color:azure;
    text-decoration: none;
}

h1 {
    font-size: xxx-large;
    color:azure;
}

p {
    color:azure;
}

#title {

    background-color: midnightblue;
    opacity: 1;
    color: azure;
    text-align: center;
    font-size: xxx-large;
    border: 10px groove black;
    margin-top: 50px;

    animation: fadeIn 2s ease-in;
}

#subTitle {

    font-size: medium;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}


footer {

    background-color: midnightblue;
    color: azure;
    text-align: center;
    animation: fadeIn 6.5s ease-in;
    border: 10px groove black;
}


#bgpicture {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    padding: 15px;
    margin: 5px;
}

.button
{
    text-align: center;
    font-size: 60px;
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;

    background-color: midnightblue;
    color: azure;
    animation: fadeIn 3s ease-in;
    border: none;
}

#quote {
    color: azure;

    font-size: xx-large;
    text-align: center;
    animation: fadeIn 3s ease-in;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: break-spaces; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation:
            typing 3.5s steps(40, end);
    }


#aboutme{
    background-color: midnightblue;
    color: azure;

    width: 100vw;
    height: auto;
}

hr {
    border : 1px solid azure;
}

.paragraph {
    display: flex;
    flex-direction: row;
}

#selfie {
    width: 20vw;
    height: 50%;
    order: 0;
}

#paragraph1 {
    font-size: x-large;
    text-align: left;
    padding: 10px;
}

#paragraph2 {
    font-size: x-large;
    text-align: left;
    padding: 10px;
}

/* the actual collapsed stuff */
.collapsible {

    background-color: midnightblue;
    color: azure;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px black groove;
    text-align: center;
    outline: none;
    font-size: 30px;
}

/* Some styling I found on the internet that will make a collapsible*/
.active, .collapsible:hover {
    background-color: blue;
}

/* content of the collapsed stuff */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: midnightblue;
    color: azure;

    border: 2px black solid;
    font-size: 20px;
}

.warning {
    color:red;
}

#imagescontent {
    width: 50vw;
    height: auto;
}

#contacttext {
    text-align: center;
    color:azure;
}


#contactcontainer {
    padding-top: 30px;
    text-align: center;
    color:azure;
    font-size:x-large;
    animation: fadeIn 3s ease-in;
}

#contactcontainer #phonenumber {
    color:lime;
}

#contactcontainer #discordcontact {
    color: blue;
}

#contactcontainer #availability {
    color: red;
}

#mailcontact a:link {
    color: azure;
}

#mailcontact a:visited {
    color: azure;
}

.content a:link {
    color: azure;
}

.content a:visited {
    color: azure;
}